src/.deps
src/.libs/
src/Makefile
src/Makefile.fragments
src/Makefile.global
src/Makefile.objects
src/acinclude.m4
src/aclocal.m4
src/autom4te.cache/
src/build/
src/config.guess
src/config.h
src/config.h.in
src/config.log
src/config.nice
src/config.status
src/config.sub
src/configure
src/configure.in
src/err.log
src/install-sh
src/libtool
src/ltmain.sh
src/missing
src/mkinstalldirs
src/modules/
src/omega.la
src/php_i2c.lo
src/php_oled.lo
src/php_omega.lo
src/php_pwm.lo
src/php_relay.lo
src/run-tests.php